In [119]:
import numpy as np
import pandas as pd

In [120]:
df_predicted = pd.read_csv('how_many.csv')
df_predicted

   helicopter  tanker  fuel  jet  tree  house  bridge  missile  ship
0          10       7     9    0    12     13       1        9     1
1           7       3     4    4     4      4       0        5     1
2           7       8    10    4    10     10       1       12     1
3          11       7    11    0    12     13       1       24     1
4           6       6     6    0     6      6       0        8     1
5          14      19    19    5    21     21       2       27     1
6          11      11    12    0    16     12       1       14     1
7          14      15    18    4    19     17       2       36     2
8           2       3     8    6     8      7       0       12     1
9          20      14    16    0    25     19       2       33     1

In [121]:
df_true = pd.read_csv('how_many_true.csv')
df_true

   helicopter  tanker  fuel  jet  tree  house  bridge  missile  ship
0          10       7     9    0    13     13       1        9     1
1           7       4     4    4     4      4       0        5     1
2           7       9    10    4    10     10       1       12     1
3          11       8    11    0    13     13       1       26     1
4           6       6     6    0     7      7       0        9     1
5          14      19    19    6    23     22       2       29     1
6          12      11    13    0    15     15       1       15     1
7          14      15    18    4    19     19       2       38     1
8           2       4     8    6     8      8       0       12     1
9          21      14    17    0    23     23       2       37     1

In [122]:
# Calculate RMSE for each object class
rmse_per_class = {}
for column in df_predicted.columns:
    differences_squared = (df_predicted[column] - df_true[column])**2
    mean_squared_error = differences_squared.mean()
    rmse_per_class[column] = np.sqrt(mean_squared_error)

# Calculate overall RMSE
overall_rmse = np.sqrt(((df_predicted - df_true)**2).mean()).mean()

print("RMSE per class:")
print(rmse_per_class)
print("\nOverall RMSE:\n", overall_rmse)

RMSE per class:
{'helicopter': 0.4472135954999579, 'tanker': 0.6324555320336759, 'fuel': 0.4472135954999579, 'jet': 0.31622776601683794, 'tree': 1.0954451150103321, 'house': 1.7888543819998317, 'bridge': 0.0, 'missile': 1.7320508075688772, 'ship': 0.31622776601683794}

Overall RMSE:
 0.7528542844051455

In [123]:
# Calculate RMSE for each object class
rmse_per_class = {}
for column in df_predicted.columns:
    differences_squared = ((df_predicted[column] - df_true[column])**2)/(df_true[column] + 1)
    mean_squared_error = differences_squared.mean()
    rmse_per_class[column] = np.sqrt(mean_squared_error)

# Calculate overall RMSE
overall_rmse = np.sqrt((((df_predicted - df_true)**2)/(df_true + 1)).mean()).mean()

print("relRMSE per class:")
print(rmse_per_class)
print("\nOverall relRMSE:\n", overall_rmse)

relRMSE per class:
{'helicopter': 0.11062441971717744, 'tanker': 0.2472066162365221, 'fuel': 0.11268723396380222, 'jet': 0.11952286093343936, 'tree': 0.257621908266839, 'house': 0.4133710244619648, 'bridge': 0.0, 'missile': 0.3110624078259106, 'ship': 0.22360679774997896}

Overall relRMSE:
 0.19952258546173718