In [1]:
import numpy as np
import pandas as pd

In [2]:
df_predicted = pd.read_csv('how_many.csv')
df_predicted

   helicopter  tanker  fuel  jet  tree  house  bridge  missile  ship
0          10       7     9    0    12     13       1        9     1
1           7       3     4    4     4      4       0        5     1
2           7      10    10    4    10     10       1       12     1
3          11       7    11    0    12     13       1       25     1
4           6       7     6    0     6      6       0        9     1
5          15      19    19    5    20     22       2       31     1
6          11      13    12    0    16     12       1       15     1
7          14      15    18    4    19     17       2       41     1
8           2       3     8    6     8      7       0       12     1
9          20      14    16    0    25     19       2       37     1

In [3]:
df_true = pd.read_csv('how_many_true.csv')
df_true

   helicopter  tanker  fuel  jet  tree  house  bridge  missile  ship
0          10       7     9    0    13     13       1        9     1
1           7       4     4    4     4      4       0        5     1
2           7       9    10    4    10     10       1       12     1
3          11       8    11    0    13     13       1       26     1
4           6       6     6    0     7      7       0        9     1
5          14      19    19    6    23     22       2       29     1
6          12      11    13    0    15     15       1       15     1
7          14      15    18    4    19     19       2       38     1
8           2       4     8    6     8      8       0       12     1
9          21      14    17    0    23     23       2       37     1

In [4]:
# Calculate RMSE for each object class
rmse_per_class = {}
for column in df_predicted.columns:
    differences_squared = (df_predicted[column] - df_true[column])**2
    mean_squared_error = differences_squared.mean()
    rmse_per_class[column] = np.sqrt(mean_squared_error)

# Calculate overall RMSE
overall_rmse = np.sqrt(((df_predicted - df_true)**2).mean()).mean()
overall_rmse = np.absolute((df_predicted - df_true)).mean().mean()

print("RMSE per class:")
print(rmse_per_class)
print("\nOverall RMSE:\n", overall_rmse)

RMSE per class:
{'helicopter': 0.5477225575051661, 'tanker': 0.9486832980505138, 'fuel': 0.4472135954999579, 'jet': 0.31622776601683794, 'tree': 1.3038404810405297, 'house': 1.760681686165901, 'bridge': 0.0, 'missile': 1.1832159566199232, 'ship': 0.0}

Overall RMSE:
 0.43333333333333335

In [5]:
# Calculate RMSE for each object class
rmse_per_class = {}
for column in df_predicted.columns:
    differences_squared = ((df_predicted[column] - df_true[column])**2)/(df_true[column] + 1)
    mean_squared_error = differences_squared.mean()
    rmse_per_class[column] = np.sqrt(mean_squared_error)

# Calculate overall RMSE
overall_rmse = np.sqrt((((df_predicted - df_true)**2)/(df_true + 1)).mean()).mean()
overall_rmse = np.absolute((df_predicted - df_true)/(df_true + 1)).mean().mean()

print("relRMSE per class:")
print(rmse_per_class)
print("\nOverall relRMSE:\n", overall_rmse)

relRMSE per class:
{'helicopter': 0.1374933776748135, 'tanker': 0.3297425643288393, 'fuel': 0.11268723396380222, 'jet': 0.11952286093343936, 'tree': 0.29530049263822933, 'house': 0.4080781515565098, 'bridge': 0.0, 'missile': 0.20028469765301618, 'ship': 0.0}

Overall relRMSE:
 0.030990172379061272

In [6]:
df_predicted = pd.read_csv('which_destroyed.csv').drop(columns=['tree', 'house', 'missile', 'ship'])
df_predicted

   helicopter  tanker  fuel  jet  bridge
0           2       1     0    0       1
1           2       0     1    0       0
2           2       6     3    0       1
3           4       5     4    0       1
4           0       4     1    0       0
5           6       5     5    1       2
6           3       7     2    0       1
7           2      10     9    0       2
8           1       1     3    1       0
9           6       7     5    0       2

In [7]:
df_true = pd.read_csv('which_destroyed_true.csv').drop(columns=['tree', 'house', 'missile', 'ship'])

In [8]:
# Calculate RMSE for each object class
rmse_per_class = {}
for column in df_predicted.columns:
    differences_squared = (df_predicted[column] - df_true[column])**2
    mean_squared_error = differences_squared.mean()
    rmse_per_class[column] = np.sqrt(mean_squared_error)

# Calculate overall RMSE
overall_rmse = np.sqrt(((df_predicted - df_true)**2).mean()).mean()
overall_rmse = np.absolute((df_predicted - df_true)).mean().mean()

print("RMSE per class:")
print(rmse_per_class)
print("\nOverall RMSE:\n", overall_rmse)

RMSE per class:
{'helicopter': 1.51657508881031, 'tanker': 1.449137674618944, 'fuel': 1.378404875209022, 'jet': 0.4472135954999579, 'bridge': 0.0}

Overall RMSE:
 0.62

In [9]:
# Calculate RMSE for each object class
rmse_per_class = {}
for column in df_predicted.columns:
    differences_squared = ((df_predicted[column] - df_true[column])**2)/(df_true[column] + 1)
    mean_squared_error = differences_squared.mean()
    rmse_per_class[column] = np.sqrt(mean_squared_error)

# Calculate overall RMSE
overall_rmse = np.sqrt((((df_predicted - df_true)**2)/(df_true + 1)).mean()).mean()
overall_rmse = np.absolute((df_predicted - df_true)/(df_true + 1)).mean().mean()

print("relRMSE per class:")
print(rmse_per_class)
print("\nOverall relRMSE:\n", overall_rmse)

relRMSE per class:
{'helicopter': 0.5631543812693435, 'tanker': 0.6146362971528592, 'fuel': 0.4852588901567806, 'jet': 0.28867513459481287, 'bridge': 0.0}

Overall relRMSE:
 0.11265079365079367